# Ignorar entorno virtual
tpIntegrador/

# Ignorar cachés de Python
__pycache__/
*.py[cod]

# Ignorar configuración local de VS Code
.vscode/
.docs/

# Ignorar archivos de sistema o temporales
*.log
*.tmp

# Ignorar .config
*.conf

# Ignorar carpeta datalake
datalake/bronze/